.FilterPanel {
    color: #c6ffec;
    background-color: #18549b;
  }

.CenterToolbar {
  justify-content: center;
}

.paddedButton {
    margin-top: 10px;
    margin-bottom: 10px;
}

.leftPadded {
    margin-left: 10px;
}

.HeaderImage {
  margin-top: 10px;
  margin-bottom: 10px;
  max-height: 157px;
}

.FilterPanel a:link,
.FilterPanel a:link,
.FilterPanel a:hover,
.FilterPanel a:visited {
    text-decoration: none;
    color: inherit;
}