.FilterPanel {
    color: #c6ffec;
    background-color: #18549b;
    _height: 15%;
  }

.CenterToolbar {
  justify-content: center;
}

.paddedButton {
    margin-top: 10px;
    margin-bottom: 10px;
}